@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");


/* Reset */

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

/* Box Model */

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

/* Basic */
  @-ms-viewport {
    width: device-width;
  }

  body {
    -ms-overflow-style: scrollbar;
  }

  @media screen and (max-width: 480px) {
    html, body {
      min-width: 320px;
    }
  }

  body {
    background: #202024;
  }

  body.isloading *, body.isloading:before, body.isloading:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    animation: none !important;
    transition: none !important;
  }

/*body*/

body {
  font-size: 14pt;
  line-height: 1.65;
  font-weight: 300;
  font-family: "Source San Pro", sans-serif;
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 1680px) {
  body {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 11pt
  }
}

@media screen and (max-width: 980px) {
  body {
    font-size: 12pt
  }
}

@media screen and (max-width: 736px) {
  body {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12pt;
  }
}

/* Banner */
#banner {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  padding: 8em 4em 6em 4em;
  min-height: 70vh;
  background-image: url(../../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    content: '';
    background-color: #42424f;
    display: block;
    height: 101%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}


#banner .inner {
  text-align: center;
  z-index: 2;
  position: relative;
}

#banner h1 {
  color: #fff;
  font-size: 5em;
  font-weight: 400;
  font-family: 'Passion One', cursive;
  margin: 0;
}

header p {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 0 0 1.5em 0;
}

#banner p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.5em;
    font-weight: 300;
}

a {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  border-bottom: 1px dotted;
  outline: 0;
}

#banner a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  border-bottom: 1px dotted;
}

#banner .more {
    background-image: url("images/arrow.svg");
    background-position: center 1.35em;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid#fff;
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.75);
    height: 4em;
    width: 4em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 4em;
    z-index: 2;
    margin: 0 auto 2em auto;
}

#banner video {
  -moz-transform: translateX(50%) translateY(50%);
  -webkit-transform: translateX(50%) translateY(50%);
  -ms-transform: translateX(50%) translateY(50%);
  transform: translateX(50%) translateY(50%);
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

#main {
  margin: 4em 0 2em 0;
}

@media screen and (max-width: 736px){
  #main {
    padding: 3em 0 1em 0;
  }
}

#main .inner {
  width: 90%;
  max-width: 80em;
  margin: 0 auto;
}

@media screen and (max-width: 480px){
  #main .inner {
    width: 95%;
  }
}

.thumbnails {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box {
  border-radius: 4px;
  margin-bottom: 2em;
  background: #2c2c32;
  text-align: center;
}

.thumbnails .box {
  margin: 0 1em 2em 1em;
  width: 30%;
}

.image {
  border-radius: 4em;
  border: 0;
  position: relative;
  display: inline-block;
}

.image.fit {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.box .image {
  margin: 0;
}

.box > .image.fit {
  cursor: pointer;
  outline: 0px;
}

.image img {
  border-radius: 4px;
  display: block;
}

.box .image img {
  border-radius: 4px 4px 0 0;
}

.image.fit img {
  width: 100%;
}

.box .inner {
  padding: 1.5em;
  width: 100% !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h3 {
  font-size: 1.35em;
}

p {
  margin: 0 0 2em 0;
}

.box > :last-child, .box > :last-child > :last-child, .box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #70c7be;
  border-radius: 4px;
  line-height: 2.95em;
  height: 2.85em;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  padding: 0 1.5em;
  font-weight: 400;
  display: block;
  cursor: pointer;
  color: #ffffff !important;
  border: 0;
}

#popupvideo {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10001;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  display: block;
  opacity: 1;
}
#popupvideo .first-child {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#popupvideo .second-child {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222226;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.poptrox-popup {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  background: #000;
  box-shadow: 0 0.5em 3em 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 2em;
  overflow: hidden;
}

.third-child {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  cursor: pointer;
  min-width: 200px;
  min-height: 100px;
  width: auto;
  height: auto;
}

.loader {
  display: none;
}

.pic {
  display: block;
  text-indent: 0px;
}

.video {
  position: relative;
  outline: 0px;
  z-index: 10101;
  width: 800px;
  height: 400px;
  max-width: 1190.33px;
  max-height: 145.333px;
}

.closer {
  cursor: pointer;
  display: block;
}

.poptrox-popup .closer {
  -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    text-decoration: none;
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 11000;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    white-space: nowrap;
    text-indent: 2em;
    overflow: hidden;
    width: 2em;
    height: 2em;
    display: block;
}

.poptrox-popup .closer:before {
  content: "\f00d";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  display: block;
  position: relative;
  text-indent: 0;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  color: #ffffff !important;
  width: 2em;
  height: 2em;
  line-height: 2em;
}







