html, body {
	height: 100%ï¼›
}

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
}

.container {
	overflow: hidden;
	margin: 0 auto;
	width: 1200px;
}

#header {
	position: relative;
	padding: 3em 0em;
}

#logo {
	position: absolute;
	top: 1em;
	left: 0;
}

h1, h2 ,h3 {
	margin: 0;
	padding: 0;
}

#logo a {
	text-decoration: none;
	color: #0173B2;
}

#menu {
	position: absolute;
	top: 2em;
	right: 0;
}

ul {
	margin-top: 0;
}
ul {
	padding: 0;
	list-style: none;
}

#menu ul {
	display: inline-block;
}

#menu li {
	display: block;
	float: left;
	text-align: center;
}

#menu li a {
	text-decoration: none;
	padding: 1em 1.5em;
	font-weight: 400;
	color: rgba(0, 0, 0, .8);
}

#banner-wrapper {
	overflow: hidden;
	padding: 10em 0em 5em 0em;
	background: url(images/bg01.jpg) no-repeat center top;
	background-size: 100% auto;
}

.boxA, .boxB, .boxC {
	background: #FFF;
	width: 304px;
	padding: 40px 40px;
}

.boxA, .boxB {
	float: left;
	margin-right: 24px;
}

.boxC {
	float: right;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

#banner h3 {
	margin-bottom: 1em;
	font-size: 1.4em;
	font-weight: 600;
	color: rgba(0, 0, 0, .8);
}

p {
	line-height: 180%;
}

p {
	margin-top: 0;
}

.button {
	display: inline-block;
	padding: 1em 2em 1em 2em;
	background: #0173B2;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #FFF;
}
#banner .button {
	margin-top: 1em;
}

#page-wrapper {
	overflow: hidden;
	padding: 5em 0em;
	background: #FFF;
}

.pboxA, .pboxB, .pboxC {
	width: 384px;
}

.pboxA, .pboxB {
	float: left;
	margin-right: 24px;
}

.pboxC {
	float: right;
}

#page h3 {
	margin-bottom: 1em;
	font-size: 1.4em;
	font-weight: 600;
	color: rgba(0, 0, 0, .8);
}

.image {
	display: inline-block;
}
.image-left {
	float: left;
	margin: 0 2em 2em 0;
}
