html, body {
	height: 100%；
}

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
}

.container {
	overflow: hidden;
	margin: 0 auto;
	width: 1200px;
}

#header {
	position: relative;
	padding: 3em 0em;
}

#logo {
	position: absolute;
	top: 1em;
	left: 0;
}

h1, h2 ,h3 {
	margin: 0;
	padding: 0;
}

#logo a {
	text-decoration: none;
	color: #0173B2;
}

#menu {
	position: absolute;
	top: 2em;
	right: 0;
}

ul {
	margin-top: 0;
}
ul {
	padding: 0;
	list-style: none;
}

#menu ul {
	display: inline-block;
}

#menu li {
	display: block;
	float: left;
	text-align: center;
}

#menu li a {
	text-decoration: none;
	padding: 1em 1.5em;
	font-weight: 400;
	color: rgba(0, 0, 0, .8);
}

#banner-wrapper {
	overflow: hidden;
	padding: 10em 0em 5em 0em;
	background: url(images/bg01.jpg) no-repeat center top;
	background-size: 100% auto;
}

.boxA, .boxB, .boxC {
	background: #FFF;
	width: 304px;
	padding: 40px 40px;
}

.boxA, .boxB {
	float: left;
	margin-right: 24px;
}

.boxC {
	float: right;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

#banner h3 {
	margin-bottom: 1em;
	font-size: 1.4em;
	font-weight: 600;
	color: rgba(0, 0, 0, .8);
}

p {
	line-height: 180%;
}

p {
	margin-top: 0;
}

.button {
	display: inline-block;
	padding: 1em 2em 1em 2em;
	background: #0173B2;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #FFF;
}
#banner .button {
	margin-top: 1em;
}

#page-wrapper {
	overflow: hidden;
	padding: 5em 0em;
	background: #FFF;
}

.pboxA, .pboxB, .pboxC {
	width: 384px;
}

.pboxA, .pboxB {
	float: left;
	margin-right: 24px;
}

.pboxC {
	float: right;
}

#page h3 {
	margin-bottom: 1em;
	font-size: 1.4em;
	font-weight: 600;
	color: rgba(0, 0, 0, .8);
}

.image {
	display: inline-block;
}
.image-left {
	float: left;
	margin: 0 2em 2em 0;
}

#footer-wrapper {
	overflow: hidden;
	padding: 5em 0em;
	background: rgba(0, 0, 0, .05);
}

#footer #fbox1 {
	float: left;
	width: 384px;
}

#footer #fbox2 {
	float: right;
	width: 792px;
}

ul.style3 {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	color: #6c6c6c;
}

ul.style3 li {
	overflow: hidden;
	display: block;
	padding: 0.8em 0em 0em 0em;
	margin: 0 0 1.3em 0;
	border-top: 1px solid #D1CFCE;
}

ul.style3 .first {
	padding-top: 0;
	background: none;
}

ul.style3 li:first-child {
	padding-top: 0;
	border-top: none;
}

ul.style3 .date {
	float: left;
	position: relative;
	width: 60px;
	height: 50px;
	margin: 10px 1.5em 0em 0em;
	padding: 10px 0em 0em 0em;
	background: #0173B2;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	font-size: 0.8em;
	font-weight: 400;
	color: #FFF;
}

ul.style3 a {
  display: block;
  text-decoration: none;
  color: #2D2D2D;
}

ul.style3 .date a {
	color: #FFFFFF;
}

ul.style3 .date b {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 1.8em;
	font-weight: 400;
	color: #FFFFFF;
}

ul.style3 .date:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background: url(images/bg01.png) repeat;
}

ul.style3 h3 {
  padding: 15px 0em 5px 0em;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  color: #454445;
}

ul.style3 p {
  margin: 0;
}

ul.style1 {
  margin: 0;
  padding: 2em 0 0 0;
}

ul.style1 li {
  float: left;
  display: inline-block;
  padding: 0px 0px 0px 20px;
}

ul.style1 li:first-child {
  padding-left: 0px;
}

#copyright {
  overflow: hidden;
  padding: 5em 0em;
  border-top: 1px solid rgba(0,0,0,0.08);
}

ul.contact {
  overflow: hidden;
  margin: 0em 0 3em 0;
  padding-top: 1em;
  text-align: center;
}

#copyright p {
  letter-spacing: 0.20em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.80em;
  color: rgba(0,0,0,0.6);
}

#copyright a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

ul.contact li {
  display: inline-block;
  padding: 0em 0.30em;
  font-size: 1em;
}

#copyright a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.icon:before {
  font-size: 1.25em;
  text-decoration: none;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

ul.contact li a:before {
  display: inline-block;
  background: #0173B2;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

ul.contact li span {
  display: none;
  margin: 0;
  padding: 0;
}