@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/*Header*/

#header {
	color: #d4e0ef;
  position: absolute;
  left: 0;
  top: 4em;
  width: 100%;
  line-height: 3.25em;
  text-align: right;
  height: 3.25em;
  cursor: default;
  z-index: 10001;
}

.inner {
	max-width: 75em;
	margin: 0 auto;
}

#header .inner {
	margin: 0 auto;
	position: relative;
}

#header .logo {
	display: inline-block;
	font-weight: 600;
	color: #fff;
	height: inherit;
  left: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  font-size: 1em;
}

a {
 color: #5385c1;
 text-decoration: underline;
}

#header a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  display: inline-block;
  padding: 0 0.75em;
  color: inherit;
  text-decoration: none;
  font-size: .8em;
}

#header a:last-child {
    padding-right: 0;
}

#header a.navPanelToggle {
	height: 4em;
	width: 4em;
	z-index: 10003;
	text-decoration: none;
	display: none;
}

#header a.navPanelToggle .fa {
	font-size: 1.25em;
}


/*Banner*/
#banner {
	text-align: center;
	padding: 12em 0 10em 0;
	border-top: 0.5em solid #5385c1;
	background-image: url('../../images/banner.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
}

#banner h1 {
	font-size: 3.5em;
	font-weight: 100;
	color: #fff;
	padding: 0;
	margin: 0 0 0.5em 0;
}

#banner p {
	font-size: 1em;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 1.75em;
}





