@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Pattaya|Work+Sans:400,200,300);

/* Reset */

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

/* Box Model */

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    background-color: #fff;
    color: #444;
}

body, input, select, textarea {
  font-family: "Work Sans", sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 1.65;
}

@media screen and (max-width: 1680px){
  body {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 11pt;
  }
}

@media screen and (max-width: 980px) {
  body {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 11pt;
  }
}


/*Header*/

#header {
  -moz-transition: background 1s ease-in-out, height 0.2s ease-in-out;
  -webkit-transition: background 1s ease-in-out, height 0.2s ease-in-out;
  -ms-transition: background 1s ease-in-out, height 0.2s ease-in-out;
  transition: background 1s ease-in-out, height 0.2s ease-in-out;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: rgba(254, 254, 254, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10001;
}

#header .inner {
  -moz-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
  -webkit-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
  -ms-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
  transition: height 0.2 ease-in-out, width 0.2s ease-in-out;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: #e74c3c;
  border-radius: 100%;
  height: 35em;
  width: 35em;
  padding: 4em;
  text-align: center;
  cursor: default;
  box-shadow: 0 0 0 1em #FFF;
}

#header .inner .content {
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

#header .inner .content h1 {
  font-size: 4em;
  font-family: 'Pattaya', sans-serif;
  margin: 0 0 .25em 0;
  color: #fff;
}

#header .inner .content h2 {
  font-size: 1.5em;
  color: #fff;
  margin: 0 0 1em 0;
}

a {
    color: #e74c3c;
}
a {
    text-decoration: underline;
    outline: 0;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 2.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (max-width: 480) {
  .button {
    padding: 0;
  }
}

.button.alt {
  background: #FFF;
  color: #e74c3c;
}

.button.big {
  font-size: 1.35em;
}

#header .inner .button {
  -moz-transition: background 1s ease-in-out;
  -webkit-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
  margin: 0;
  border-radius: 30px;
}

#header.hide {
  -moz-transition: background 0.2s ease-in-out, height 1s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out, height 1s ease-in-out;
  -ms-transition: background 0.2s ease-in-out, height 1s ease-in-out;
  transition: background 0.2s ease-in-out, height 1s ease-in-out;
  background: none;
  height: 0;
}

#header.hide .inner {
  height: 6em;
  width: 6em;
  padding: 2em;
}

#header.hide .inner .content {
  opacity: 0;
}

#header.hide .inner h1 {
  display: none;
}

#header.hide .inner h2 {
  display: none;
}

#header.hide .button.big {
  display: none;
}

#header.hide .button.hidden {
  text-decoration: none;
  padding-top: 1.5em;
  padding-left: 0;
  padding-right: 0;
  background: none;
  display: inline-block;
}

#header.hide .button.hidden span {
  display: none;
}

#header.hide .button.hidden:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#header.hide .button.hidden:before {
  content: '\f015';
  color: #FFF;
  font-size: 1.5em;
}

#main {
  padding: 2em;
}

#main .inner {
  max-width: 100%;
}

.columns {
  position: relative;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  -ms-column-count: 4;
  column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  -ms-column-gap: 1em;
  column-gap: 1em;
}

@media screen and (max-width: 480px) {
  .columns {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.image {
  position: relative;
  border-radius: 4px;
  border: 0;
  display: inline-block;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.columns .image {
  position: relative;
  display: inline-block;
  margin: 0 0 .5em;
  width: 100%;
  overflow: hidden;
}

.image img {
  border-radius: 4px;
  display: block;
}

.image.fit img {
  width: 100%;
}

.columns .image img {
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3D(0, 0, 0);
}

.columns .image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#footer {
  -moz-transition: bottom 0.2s ease;
  -webkit-transition: bottom 0.2s ease;
  -ms-transition: bottom 0.2s ease;
  transition: bottom 0.2s ease;
  position: fixed;
  bottom: -20em;
  color: #fff;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
}

#footer.show {
  bottom: 0;
}

#footer .inner {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  position: relative;
  z-index: 10003;
  background: #e74c3c;
  padding: 2em;
  height: 20em;
}
#footer .info {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-radius: 50% 50% 0 0;
  background: #e74c3c;
  width: 3em;
  height: 3em;
  margin-bottom: -1.75em;
  color: #fff;
  font-size: 1.25em;
  padding-top: .35em;
}

#footer .info span {
  display: none;
}

#footer .inner .content, #footer .inner .copyright {
  width: 50%;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);
  padding: 2em;
  display: inline-block;
}

#footer .inner .content h3, #footer .inner .copyright h3 {
  color: #fff;
  font-size: 1.75em;
}

#footer .inner .content p, #footer .inner .copyright p {
  margin: 0;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon > .label {
    display: none;
}

ul.icons li .icon:before {
    font-size: 2em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

#footer .inner .copyright ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

#footer .inner .content a, #footer .inner .copyright a {
    color: #FFF;
}


