@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic");


/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}


body {
  line-height: 1;
}

body {
  -webkit-text-size-adjust: none;
}

body {
  -ms-overflow-style: scrollbar;
}

body {
  background: #fff;
}

body {
  background-color: #fff;
  color: #444;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.75;
}

@media screen and (max-width: 1680px){
	body {
	  font-size: 13pt;
	}
}

body {
  padding-top: 4.125em;
}

@media screen and (max-width: 980px){
	body {
	  padding-top: 44px;
	}
}

@media screen and (max-width: 1280px){
	body, input, select, textarea {
	  font-size: 12pt;
	}
}

@media screen and (max-width: 1680px){
	body, input, select, textarea {
	  font-size: 13pt;
	}
}

#header {
	background: #1c1c1c;
	color: rgba(255, 255, 255, 0.75);
	cursor: default;
	height: 4.25em;
	left: 0;
	line-height: 4.25em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 10001;
}

a {
	text-decoration: none;
}
a {
	color: #1abc9c;
}

#header .logo {
	display: inline-block;
	height: inherit;
	left: 1.25em;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	color: #fff;
	font-size: 1.25em;
	text-decoration: none;
}

strong {
	font-weight: 700;
}
strong {
	color: #555;
}

#header .logo strong {
	color: inherit;
	font-weight: 700;
}

#header nav a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	display: inline-block;
	padding: 0 0.75em;
	color: inherit;
	text-decoration: none;
}

#header nav a[href="#menu"] {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

#header nav a: first-child {
	padding-right: 1.25em;
}

#header nav a[href="#menu"]:before {
	content: "";
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

#menu {
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-webkit-overflow-scrolling: touch;
	background: #1c1c1c;
  box-shadow: none;
  color: #fff;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 3em 2em;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 20em;
  z-index: 10002;
}

#menu > ul {
	margin: 0 0 1em 0;
}

#menu > ul.links {
	list-style: none;
	padding: 0;
}

#menu > ul.links > li {
  padding: 0;
}

#menu .close {
	text-decoration: none;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	-webkit-tap-highlight-color: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: block;
  height: 3.25em;
  line-height: 3.25em;
  padding-right: 1.25em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: middle;
  width: 7em;
}

#menu.visible {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
}

#menu .close:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#menu > ul.links > li > a:not(.button) {
  border: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  color: inherit;
  display: block;
  line-height: 3.5em;
  text-decoration: none;
}

#menu > ul.links > li:first-child > a:not(.button) {
  border-top: 0 !important;
}

#banner {
  background-color: #3498db;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  cursor: default;
  padding: 10em 4em 9em 4em;
}

#banner > .inner {
  opacity: 1;
  -moz-transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 1em 0;
}

#banner h1 {
	color: #fff;
}

#banner h1 {
  font-size: 3em;
  line-height: 1.45;
  margin: 0 0 0.75em 0;
}

#banner a {
  color: #fff;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

#banner > .inner > :last-child {
  margin-bottom: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3em;
  line-height: 3em;
  padding: 0 2.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

#banner .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: #fff !important;
}

.button.big {
  font-size: 1.25em;
}