html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #16a085;
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  color: #363636;
}

#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
}

#menu-wrapper {
	background: #16a085;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

#menu {
	overflow: hidden;
	height: 100px;
}

#menu ul {
	margin: 0;
	padding: 0 0;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	padding: 0px 40px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.80em;
	line-height: 100px;
	border: none;
	color: #FFF;
}

#menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background: #1abc9c;
}

#header-wrapper {
	overflow: hidden;
	background: (images/bg01.png) repeat
	background-size: 100%;
	padding: 6em 0em 2em 0em;
	background: #333333;
}

#header {
	position: relative;
	overflow: hidden;
	text-align: center;
}

#logo {
	width: 500px;
	height: 100px;
	margin: 0 auto;
	padding: 2em 0em;
	text-transform: uppercase;
}

#logo h1 {
	letter-spacing: 0.10em;
	font-size: 3em;
}

#logo a {
	text-decoration: none;
	color: #FFF;
}

p {
	line-height: 190%;
}

#logo p {
	letter-spacing: 0.10em;
	color: #FFF;
}

#banner {
	overflow: hidden;
	height: 500px;
	background: url(images/pic01.jpg) no-repeat center;
	background-size: cover;
}

#page {
	position: relative;
	overflow: hidden;
	padding: 6em 0em 5em 0em;
}

#content {
	float: left;
	width: 790px;
}

.title {
	margin-bottom: 2em;
	text-transform: uppercase;
}

.title h2 {
	font-weight: 400;
	font-size: 2em;
	color: #16a085;
}

.title .byline {
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #6F6F6F;
}

a {
	color: #171717;
}

#sidebar {
	float: right;
	width: 345px;
}

#sidebar .title h2 {
	font-size: 1.6em;
}

ul.style2 {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.style2 li {
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0;
}

ul.style2 li:first-child {
	border-top: 0;
	padding-top: 0;
}

#footer-wrapper {
	overflow: hidden;
	padding: 5em 0em;
	background: #1E1B1A;
}

#footer {
	color: #ADADAD;
}

#box1 {
	float: left;
	width: 354px;
	margin-right: 24px;
	padding-right: 30px;
}

#box2 {
	float: left;
	width: 354px;
	margin-left: 24px;
	padding-right: 30px;
}

#box3 {
	float: right;
	width: 344px;
	padding-left: 40px;
}

#footer .title {
	border-color: #2D2926;
}

#footer .title h2 {
	font-weight: 400;
	font-size: 1.2em;
	color: #FFF;
}

ul.style1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.style1 li:first-child {
	border-top: 0;
	padding-top: 0;
}

ul.style1 li {
  border-top: solid 1px #E5E5E5;
  padding: 0.80em 0;
}

#footer .style1 li {
	border-color: #2D2926;
}

#footer .style1 a {
	font-size: 1em;
	color: #B1B1B1;
}

ul.contact {
  margin: 0;
  padding: 1.5em 0em 2.5em 0em;
  list-style: none;
}

.button {
  display: inline-block;
  margin-top: 1.5em;
  padding: 1.50em 3em 1.50em 3em;
  background: #16a085;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.90em;
  color: #FFF;
}

ul.contact li {
  display: inline-block;
  padding: 0em 0.30em;
  font-size: 1em;
}

ul.contact li a {
  color: #FFF;
}

.icon:before {
  font-size: 1.25em;
  text-decoration: none;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

ul.contact li span {
  display: none;
  margin: 0;
  padding: 0;
}

ul.contact li a:before {
    display: inline-block;
    background: #3f3f3f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

ul.contact li a.icon-twitter:before {
  background: #2DAAE4;
}

ul.contact li a.icon-facebook:before {
  background: #39599F;
}

ul.contact li a.icon-dribbble:before {
  background: #C4376B;
}

ul.contact li a.icon-tumblr:before {
  background: #31516A;
}

ul.contact li a.icon-rss:before {
  background: #F2600B;
}

#copyright {
  overflow: hidden;
  padding: 5em 0em;
  text-align: center;
}

#copyright p {
  letter-spacing: 0.20em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.80em;
  color: rgba(255,255,255,.5);
}

#copyright a {
  text-decoration: none;
  color: rgba(255,255,255,.7);
}